@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{font-family: 'Sarabun', sans-serif;background-color:#e4f7f6;}
.ftco-navbar-light {

    z-index: 3;
    padding: 10px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 20px -17px rgb(0 0 0 / 34%);
    -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 5px 20px -17px rgb(0 0 0 / 34%);
}


body:after{position: fixed;
    content: "";
    background-image: url(../img/bpattern.png);
    height: 250px;
    width: 250px;
    z-index: 9;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: auto;    }
    .login-btn{text-align:right;}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left:21px;
    padding-right:21px;
    font-weight: 700;
    color: #fff;
    position: relative;
    opacity: 1 !important;  
    line-height: normal;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover{color: #083863;}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #083863;
}
.navbar-brand{width: 210px;}
.navbar-brand img{width:100%;margin-top: 8px;}
.top-header.bg-color-one .float-right li span {
    color: #00bbb4;
    margin-top: 3px;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
}
.top-header.bg-color-one .float-right li span {
    color: #00bbb4;
    margin-top: 3px;
    display: inline-block;
    margin-right: 30px;
    font-weight:bold;
}
.flg {
    float: left;
    height: 25px;
    margin-right: 7px;
    width: 25px;
}
.top-header.bg-color-one .float-right {
    margin: 0px;
}
.top-header.bg-color-one {
    background: #00bbb4;
    padding: 5px 0;
    width: 100%;
    float: left;
}
.top-header.bg-color-one .float-right li {
    display: inline-block;
}
.headre-cvr1 {
    width: 100%;
    float: left;
}
.top-header ul.float-left li {
    margin-right: 25px;
    color: #00bbb4;
    list-style: none;
    margin-top: 3px;
}
.top-header.bg-color-one .float-left {
    margin: 0px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}
.top-header ul li i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
    top: -2px;
}
.top-header.bg-color-one {
    background: #e4f7f6 !important;
    padding:5px 0;
    width: 100%;
    float: left;
}
.top-header.bg-color-one .float-right li span:last-child{margin-right:0px;}
.menu-cover,.top-cover{width: 100%;
    float: left;
    position: relative;
    z-index: 999;}
.top-header.bg-color-one .float-right li {display: inline-block;margin-right: 33px;}
.top-header.bg-color-one .float-right li:last-child{margin-right:0px;}
#wowslider-container1 .ws_playpause{display:none;}
.ws-title-wrapper{display:none;}


.header-top-marquee{position:relative;z-index:999;}
.header-top-marquee marquee{     padding: 8px 0px 8px;
    font-size: 15px;
    color: #fff;
    line-height: normal;
    display: block;
    font-weight: bold;}

.menu-cover.menu-first .nav-item a{background: #00bbb4;padding: 9px 30px;border-radius: 4px;color:#fff;}
.menu-cover.menu-second .ftco-navbar-light{background: #00bbb4 !important;padding:0px;border-radius:0px;}
.menu-cover.menu-first {
    padding: 15px 0px 10px;
    background: #e4f7f6;
}
.menu-cover.menu-first .ftco-navbar-light .navbar-nav > .nav-item > .nav-link{padding: 12px 33px;}
.menu-cover.menu-first .ftco-navbar-light{padding: 20px 0px;background: #e4f7f6;}

.menu-cover.menu-second .navbar-nav.ml-auto {margin:0 auto !important;}
.header-top-marquee {
    line-height: normal;
}
.top-header.bg-color-one {
    background: #fff;
    padding:2px 0 2px;
    width: 100%;
    float: left;
}
.header-top-marquee {
    line-height: normal;
    width: 100%;
    float: left;
    background: #00bbb4;
}


.liverate-title h4{    text-align: center;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00bbb4;}


.content-title h5{margin: 0;font-size: 16px;font-weight: bold;color: #fff;}

.left-cover{width:50%;display:inline-block;float:left;text-align:center;}
.right-cover{width:50%;display:inline-block;float:left;text-align:center;}
.rate p.bigfont{    font-size: 24px;
    margin: 0px;
    display: inline-block;
    padding: 2px 20px;
    line-height: normal;
    border-radius: 3px;}
    .smallfont{margin:0px;}
.rate p.bigfont.h{background-color:green;color:#fff;}
.rate p.bigfont.l{background-color:red;color:#fff;}
.rate p.bigfont.e{background-color:#0000;color:#000;}
#divFuture .col-sm-6.col-md-6,#divNext .col-sm-6.col-md-6{margin-bottom:30px;width:100%;float:left;}
#divHeader .table{margin-bottom:0px;}
#divHeader{margin-bottom:8px;}
#divHeader{width:100%;float:left;}
.smallfont {
    margin: 0px;
    font-size: 14px;
    margin-top:3px;
    font-weight: bold;
    color: #505050;
}
.spt-cover {
    width: 100%;
    float: left;
    background: #e4f7f6;
    
    position:relative;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

.hl-cover {
    float: left;
    width: 100%;
    background: #e8e8e8;
    margin-top: 10px;
    padding: 4px 0px 4px;
    border-radius: 0px 0px 3px 7px;
}
.spot-content-cover{width: 100%;float: left;}
.content-title h5 {
    margin: 0;
}
.content-title {
    display: inline-block;
    padding: 8px 20px;
    line-height: normal;
    background: #00bbb4;
    border-radius: 50px;
    top: -16px;
    position: absolute;
    left: 13px;
    width: 209px;
}
.content-title {
    display: inline-block;
    padding: 6px 20px;
    line-height: normal;
    background: #00bbb4;
    border-radius: 50px;
    top: -16px;
    position: absolute;
    left: 13px;
}
.spot-rate-cover{    width: 100%;
    float: left;
    padding: 22px 0px 0px;
    overflow: hidden;}
.rate-ttl{    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    letter-spacing: 1px;
    color: #d9a53b;}
.spot-content-cover{    margin-bottom: 15px;
    margin-top: 30px;
    background: #fff;
    padding: 25PX 0PX 15px;
    border-radius: 5px;border: 1px solid #e4e4e4;}

.spot-content-cover .col-md-4,.spot-content-cover .col-md-6{float:left;}
.spot-cover{width:100%;float:left;}
.spot-content-cover.future{    margin-top: 30px;
    background: #fff;
    padding: 25PX 0PX 15px;    border-radius: 5px;}
.spot-content-cover.next{margin-top:17px;}

.main-product-cover{    width: 100%;
    float: left;
    margin-top:17px;
    background: #fff;
    padding: 15PX 15PX 15px;
    border-radius: 5px;border: 1px solid #e4e4e4;}
.product-title.header{background:#00bbb4;}
.product-title.header table tr th{color:#fff;border: 0px;}
.product-title.prate tr td{vertical-align:middle;}
.product-title.header table tr th {
    color: #fff;
    font-size: 14px;
}
.product-title.header {
    background: #00bbb4;
    border-radius: 5px;
}
.product-title.prate tr td {
    font-size: 22px;
    padding: 0px;
    border: 0px;
}
.product-title.prate {
    background: #e4f7f6;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    padding: 8px 0px;
    margin-bottom: 10px;
    width:100%;
    float:left;
}
.product-title.prate:last-child{margin-bottom:0px;}
.mnp-sm span {
    font-size: 20px;
}
.product-title.header .table{margin-bottom: 8px;}
.product-title.prate .table{margin:0px;}
.product-title.prate .p-left{padding-left:10px;vertical-align: middle;}
.w-p {width: 25%;}
.w-b{width: 20%;}
.w-s{width: 12%;}
.buyb {width: 10%;}
.w-b span {
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 5px;
}



.h{background-color:green;color:#fff;}
.l{background-color:red;color:#fff;}
.e{background-color:#0000;color:#000;}


footer {background-color: #e4f7f6;color: #fff;position: relative;z-index: 999;}
.footer-top {padding: 150px 0px 30px;margin-top: 40px;}
footer h4 {font-size: 18px;text-transform: uppercase; font-weight: 600;color: #00bbb4;}
.icon-wrapper i{color: #d3a319;}
footer ul.links li a{color: #083863;font-weight: bold;font-size: 13px;}
footer ul.links {padding-left: 0px;list-style: none;margin-top: 10px;}
footer ul.links li {margin-bottom:10px;-webkit-transform: translateX(0px);transform: translateX(0px);-webkit-transition: .3s;transition: .3s;}
.logo-wrapper img{width: 185px;margin-bottom: 20px;}
.footer-top p{color: #a2a2a2;font-size: 13px;line-height: 26px;font-weight: bold;}
footer ul.links a {position: relative;color: #fff;-webkit-transform: translateX(10px);transform: translateX(10px);opacity: .8;text-transform: uppercase;padding-left: 12px;font-weight: 400;font-size: 14px;text-decoration: none;-webkit-transition: .3s;transition: .3s;}
footer .contact-infos .single-info .icon-wrapper {margin-right: 20px;}
.links a i{position: relative;left: -8px;}
footer .contact-infos .single-info {display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 15px;-webkit-box-align: center;-ms-flex-align: center; align-items: center;}
.footer-bottom {border-top: 2px solid #ccc;padding: 20px 0px;}
.footer-bottom p {color: #8c8c8c;text-align: center;opacity: .8;margin: 0;font-size: 14px;}
.single-info p{margin:0px;}
footer{position:relative;}
footer:after{position: absolute;background-image: url(../img/border.png);content: "";left: 0;top: 0;bottom: auto;width: 100%;height: 100px;background-repeat: no-repeat;background-size:cover;}
.social-media.order-lg-last a span{height: 35px;width: 35px;line-height: 50px;text-align: center;line-height: 35px;border: 1px solid #00bbb4;border-radius: 50%;margin-right: 11px;font-size: 17px;color: #00bbb4;}
.buybutton a{display:inline-block;}
.buybutton a input{background: #00bbb4;border: 0;color: #fff;padding: 3px 10px;font-size: 15px;font-weight: bold;border-radius: 4px;}
.booking-number{text-align: center;}
.booking-number h2{    text-align: center;
    font-size: 18px;
    color: #cd9d1e;
    font-weight: bold;} 
.booking-number h2 i{margin-right: 10px;}  
.booking-number span{font-weight: bold;}   
.bk-text{color: #545454;}
.menu-cover.menu-first .col-md-4{display:inline-block;float:left;}
.login-btn-cvr {
    padding: 10px;
    background: #00bbb4;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-top: 3px;
    font-weight: bold;
}
.otr-maon-cover .col-md-6.col-sm-6.col-xs-12{display: inline-block !important;float: left !important;}
.text-center.lshide img{width: 300px;}
@media screen and (max-width:991px){
    .rate p.bigfont {font-size: 14px;padding: 4px 4px;font-weight:bold;}
    .smallfont{font-size: 10px;margin:0px;}
    .product-title.header table tr th{font-size: 11px;padding: 5px 6px;}
    .product-title.prate tr td {font-size: 16px;}
    .w-b span {font-size: 16px;font-weight:bold;padding: 5px 8px;}
    .mnp-sm span {font-size: 11px;font-weight: bold;}
    .buybutton a input{padding: 4px 10px;line-height: normal;font-size:12px;font-size: 8px;}
    .content-title{font-size: 12px;width: 166px;font-size: 11px;}
    .content-title h5{font-size: 11px;}
    .spot-content-cover.next {margin-top: 0px;}
    .spot-content-cover.future {margin-top: 15px;}
    .liverate-title h4{margin-top: 20px;}
    .spot-content-cover{margin-top: 0px;}
    .booking-number span{font-size: 12px;}
    .booking-number h2{font-size: 14px;}
    
}

@media screen and (max-width:767px){
    button.navbar-toggler.collapsed {padding: 10px;}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link{text-align:center;}
    .menu-cover.menu-second .navbar-nav.ml-auto{background: #fff;}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link{text-align: center; color: #00bbb4;padding: 10px 0px;}
    .navbar-toggler{padding:10px;}
    .navbar-toggler{text-align:left;}
    .menu-cover.menu-second .navbar-nav.ml-auto{background: #d5fffd;}
    .spot-rate-cover{margin-bottom:10px;}
    .content-title{position:static;width:100%;}
    .spot-rate-cover{padding: 4px 0px 0px;}
    .spot-rate-cover{position: static;width: 100%;border-radius: 4px 4px 0px 0px;}
    .spot-content-cover.future,.spot-content-cover.next,.spot-content-cover{padding: 5PX 0PX 5px;}
    .menu-cover.menu-first .container{width:100%;max-width:100%;}
    .menu-cover.menu-first{padding: 10px 0px 10px;}
    .navbar-brand {width: 100%;}
    .login-btn-cvr{padding: 6px;font-size: 12px;}  
    .booking-number span {font-size: 10px;}  
    .login-btn-cvr{padding: 6px;font-size: 12px;margin-top: 9px;}
    
}


@media screen and (max-width:575px){
    .spt-cover{margin-bottom: 10px;}
    .spot-rate-cover{margin-bottom:0px;}
    .footer-top {padding: 127px 0px 30px;margin-top: 6px;}
    footer:after{height: 54px;}
    .social-media.order-lg-last{margin-bottom:20px;}
    .navbar-brand img {width: 201px;}
    .navbar-brand {width: 100%;text-align: center;margin-bottom: 10px;}
}
@media screen and (max-width:575px){
    .footer-top p{font-size: 10px;line-height: 18px;}
    footer h4{font-size: 14px;}
    footer ul.links li a{font-size: 11px;}
    .w-b span,.product-title.prate .p-left{font-size: 11px;}
    .booking-number h2 {font-size: 15px;margin: 0;margin-top: 10px;}
    .login-btn{text-align: center;}
.res{width:100% !important;}
    .oneres{width:49%;display:inline-block;}
        .menu-cover.menu-first .col-md-4{padding:0px;}
        .booking-number h2 {font-size: 11px;}
        .booking-number span {font-size: 8px;}

}
@media screen and (max-width:375px){
    .w-b {
        width: 12%;
    }
    .buyb {
        width: 12%;
    }
    .mnp-sm span{    font-size: 9px;}
    .buybutton a input{font-size: 8px;padding: 4px 4px;}
    .w-b span{padding: 5px 2px;}
    .product-title.header table tr th {font-size: 8px;}   
    .rate-ttl{font-size: 11px;} 
    .rate p.bigfont {font-size: 12px;}
    .hl-cover{margin-top: 5px;}    
    .liverate-title h4{font-size: 16px;}
}

.liverate-title {
    width: 100%;
    float: left;
}
.bank-cover{width:100%;float:left;}
footer{width:100%;float:left;}
#DivBankRecord h1{text-align: center;font-size: 28px;margin-top: 35px;font-weight:bold;}



/** bank-detail **/
.tg-contentbox{background:#fff;float: left;float: left;width: 100%;min-height: 201px;}
 .mar-btm{margin-bottom:15px;}
 .bank-img{float: left;}
 .tg-contentbox .ban1{width: 35%;font-size: 13px;color: #00bbb4;border-color: #fff;padding: 12px 0px 12px 5px;font-weight: bold;border-right: 0;border-bottom:1px solid #e8e8e8}
 .b_bott{float: right;font-size: 13px;color: #dba83d;border-color: #fff;margin-right: 8px;}
 .tg-contentbox .ban3{width:65%;font-size: 13px;color:#00bbb4;border-color: #fff;padding: 12px 0px 12px 5px;font-weight: bold;border-left: 0;border-bottom:1px solid #e8e8e8}
 .tg-contentbox table{border:1px solid #e8e8e8;}
 #DivBankRecord .col-md-6.col-sm-6.col-xs-12.mar-btm{display:inline-block;}
 .img-thumbnail{border: 0;}
 @media screen and (max-width:540px){
    .tg-contentbox .ban1,.tg-contentbox .ban3{padding: 5px 0px 5px 5px;font-size: 10px;}
    .tg-contentbox{min-height: 145px;}
    #DivBankRecord .mar-btm{padding: 0;}
    .bnk-cvr .col-md-12.a1{padding: 0;}
    .tg-contentbox .ban3 {width: 44%;}
}

/** market-trendz **/
.gb-chartbx{width: 100%;float: left;}
.gb-chartbx h2 {margin: 0;padding: 10px;text-align: center;background: #00bbb4;color: #fff;border-radius: 5px;margin-top: 15px;margin-bottom: 5px;    font-size: 22px;}
.gb-chartbx  img{width:100%;}
.main-cover{ margin-bottom: 40px;}
@media screen and (max-width:425px){.gb-chartbx h2{font-size: 12px;}.chart .col-sm-12{padding: 0;}}




/** update **/
.pop-up-cover{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index:9999;background: #000000b8;}
.pop-up-cover .pop{    position: absolute;
    top: 39%;
    left: 5%;
    right: 5%;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #00bbb4;}
.pop-text{position: relative;}
.pop-text a{position: absolute;right:10px;color:#ffd183;}
.pop-text h4{font-size: 26px;font-weight: bold;color:#00bbb4;padding-right: 41px;}
.pop-text p{margin: 0;font-weight: bold;font-size: 18px;color:#fff;}
@media screen and (max-width:425px){.update-date-cover h2,.update-date-cover h2 p{font-size: 14px;}.pop-text a {position: absolute;right: -33px;top: -144px;}.pop-up-cover .pop{padding: 10px 10px;}.pop-text h4{font-size: 14px;padding:0px;}.pop-text p{font-size: 13px;}.pop-logo img {width: 100%;}}

.main-product-cover {
    width: 100%;
    float: left;
    margin-top: 17px;
    background: #fff;
    padding: 15PX 15PX 15px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

.product-title.header {
    background: #00bbb4;
    border-radius: 5px;
}

.product-title.header .table {
    margin-bottom: 8px;
}

.product-title.header table tr th {
    color: #fff;
    font-size: 14px;
}

.product-title.prate {
    background: #e4f7f6;
    border-radius: 5px;
    padding: 8px 0px;
    margin-bottom: 10px;
}

.product-title.prate tr td {
    font-size: 22px;
    padding: 0px;
    border: 0px;
}

.product-title.prate tr td {
    font-size: 22px;
    padding: 0px;
    border: 0px;
}

.product-title.prate tr td {
    vertical-align: middle;
}

.w-b span {
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 5px;
}



.h{background-color:green;color:#fff;}
.l{background-color:red;color:#fff;}
.e{background-color:#0000;color:#000;}


footer {background-color: #e4f7f6;color: #fff;position: relative;z-index: 999;}
.footer-top {padding: 150px 0px 30px;margin-top: 40px;}
footer h4 {font-size: 18px;text-transform: uppercase; font-weight: 600;color: #00bbb4;}
.icon-wrapper i{color: #d3a319;}
footer ul.links li a{color: #083863;font-weight: bold;font-size: 13px;}
footer ul.links {padding-left: 0px;list-style: none;margin-top: 10px;}
footer ul.links li {margin-bottom:10px;-webkit-transform: translateX(0px);transform: translateX(0px);-webkit-transition: .3s;transition: .3s;}
.logo-wrapper img{width: 185px;margin-bottom: 20px;}
.footer-top p{color: #a2a2a2;font-size: 13px;line-height: 26px;font-weight: bold;}
footer ul.links a {position: relative;color: #fff;-webkit-transform: translateX(10px);transform: translateX(10px);opacity: .8;text-transform: uppercase;padding-left: 12px;font-weight: 400;font-size: 14px;text-decoration: none;-webkit-transition: .3s;transition: .3s;}
footer .contact-infos .single-info .icon-wrapper {margin-right: 20px;}
.links a i{position: relative;left: -8px;}
footer .contact-infos .single-info {display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 15px;-webkit-box-align: center;-ms-flex-align: center; align-items: center;}
.footer-bottom {border-top: 2px solid #ccc;padding: 20px 0px;}
.footer-bottom p {color: #8c8c8c;text-align: center;opacity: .8;margin: 0;}
.single-info p{margin:0px;}
footer{position:relative;}
footer:after{position: absolute;background-image: url(../img/border.png);content: "";left: 0;top: 0;bottom: auto;width: 100%;height: 100px;background-repeat: no-repeat;background-size:cover;}
.social-media.order-lg-last a span{height: 35px;width: 35px;line-height: 50px;text-align: center;line-height: 35px;border: 1px solid #00bbb4;border-radius: 50%;margin-right: 11px;font-size: 17px;color: #00bbb4;}
.buybutton a{display:inline-block;}
.buybutton a input{background: #00bbb4;border: 0;color: #fff;padding: 3px 10px;font-size: 15px;font-weight: bold;border-radius: 4px;}
.booking-number{text-align: center;}
.booking-number h2{    text-align: center;
    font-size: 18px;
    color: #cd9d1e;
    font-weight: bold;} 
.booking-number h2 i{margin-right: 10px;}  
.booking-number span{font-weight: bold;}   
.bk-text{color: #545454;}
.menu-cover.menu-first .col-md-4{display:inline-block;float:left;}
.login-btn-cvr {
    padding: 10px;
    background: #00bbb4;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-top: 3px;
    font-weight: bold;
}
.otr-maon-cover .col-md-6.col-sm-6.col-xs-12{display: inline-block !important;float: left !important;}
.text-center.lshide img{width: 300px;}
@media screen and (max-width:991px){
    .rate p.bigfont {font-size: 14px;padding: 4px 4px;font-weight:bold;}
    .smallfont{font-size: 10px;margin:0px;}
    .product-title.header table tr th{font-size: 11px;padding: 5px 6px;}
    .product-title.prate tr td {font-size: 16px;}
    .w-b span {font-size: 16px;font-weight:bold;padding: 5px 8px;}
    .mnp-sm span {font-size: 11px;font-weight: bold;}
    .buybutton a input{padding: 4px 10px;line-height: normal;font-size:12px;font-size: 8px;}
    .content-title{font-size: 12px;width: 166px;font-size: 11px;}
    .content-title h5{font-size: 11px;}
    .spot-content-cover.next {margin-top: 0px;}
    .spot-content-cover.future {margin-top: 15px;}
    .liverate-title h4{margin-top: 20px;}
    .spot-content-cover{margin-top: 0px;}
    .booking-number span{font-size: 12px;}
    .booking-number h2{font-size: 14px;}
    
}

@media screen and (max-width:767px){
    button.navbar-toggler.collapsed {padding: 10px;}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link{text-align:center;}
    .menu-cover.menu-second .navbar-nav.ml-auto{background: #fff;}
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link{text-align: center; color: #00bbb4;padding: 10px 0px;}
    .navbar-toggler{padding:10px;}
    .navbar-toggler{text-align:left;}
    .menu-cover.menu-second .navbar-nav.ml-auto{background: #d5fffd;}
    .spot-rate-cover{margin-bottom:10px;}
    .content-title{position:static;width:100%;}
    .spot-rate-cover{padding: 4px 0px 0px;}
    .spot-rate-cover{position: static;width: 100%;border-radius: 4px 4px 0px 0px;}
    .spot-content-cover.future,.spot-content-cover.next,.spot-content-cover{padding: 5PX 0PX 5px;}
    .menu-cover.menu-first .container{width:100%;max-width:100%;}
    .menu-cover.menu-first{padding: 10px 0px 10px;}
    .navbar-brand {width: 100%;}
    .login-btn-cvr{padding: 6px;font-size: 12px;}  
    .booking-number span {font-size: 10px;}  
    .login-btn-cvr{padding: 6px;font-size: 12px;margin-top: 9px;}
    
}


@media screen and (max-width:575px){
    .spt-cover{margin-bottom: 10px;}
    .spot-rate-cover{margin-bottom:0px;}
    .footer-top {padding: 127px 0px 30px;margin-top: 6px;}
    footer:after{height: 54px;}
    .social-media.order-lg-last{margin-bottom:20px;}
    .navbar-brand img {width: 201px;}
    .navbar-brand {width: 100%;text-align: center;margin-bottom: 10px;}
}
@media screen and (max-width:575px){
    .footer-top p{font-size: 10px;line-height: 18px;}
    footer h4{font-size: 14px;}
    footer ul.links li a{font-size: 11px;}
    .w-b span,.product-title.prate .p-left{font-size: 11px;}
    .booking-number h2 {font-size: 15px;margin: 0;margin-top: 10px;}
    .login-btn{text-align: center;}
.res{width:100% !important;}
    .oneres{width:49%;display:inline-block;}
        .menu-cover.menu-first .col-md-4{padding:0px;}
        .booking-number h2 {font-size: 11px;}
        .booking-number span {font-size: 8px;}
        .product-title.prate{padding: 3px 0px;}

}
@media screen and (max-width:375px){
    .w-b {
        width: 12%;
    }
    .buyb {
        width: 12%;
    }
    .mnp-sm span{    font-size: 9px;}
    .buybutton a input{font-size: 8px;padding: 4px 4px;}
    .w-b span{padding: 5px 2px;}
    .product-title.header table tr th {font-size: 8px;}   
    .rate-ttl{font-size: 11px;} 
    .rate p.bigfont {font-size: 12px;}
    .hl-cover{margin-top: 5px;}    
    .liverate-title h4{font-size: 16px;}
}

.liverate-title {
    width: 100%;
    float: left;
}
.bank-cover{width:100%;float:left;}
footer{width:100%;float:left;}
#DivBankRecord h1{text-align: center;font-size: 28px;margin-top: 35px;font-weight:bold;}


/** bank-detail **/
.tg-contentbox{background:#fff;float: left;float: left;width: 100%;min-height: 201px;}
 .mar-btm{margin-bottom:15px;}
 .bank-img{float: left;}
 .tg-contentbox .ban1{width: 35%;font-size: 13px;color: #00bbb4;border-color: #fff;padding: 12px 0px 12px 5px;font-weight: bold;border-right: 0;border-bottom:1px solid #e8e8e8}
 .b_bott{float: right;font-size: 13px;color: #dba83d;border-color: #fff;margin-right: 8px;}
 .tg-contentbox .ban3{width:65%;font-size: 13px;color:#00bbb4;border-color: #fff;padding: 12px 0px 12px 5px;font-weight: bold;border-left: 0;border-bottom:1px solid #e8e8e8}
 .tg-contentbox table{border:1px solid #e8e8e8;}
 #DivBankRecord .col-md-6.col-sm-6.col-xs-12.mar-btm{display:inline-block;}
 .img-thumbnail{border: 0;}
 @media screen and (max-width:540px){
.spot-content-cover{margin-botoom:0px;}
    .tg-contentbox .ban1,.tg-contentbox .ban3{padding: 5px 0px 5px 5px;font-size: 10px;}
    .tg-contentbox{min-height: 145px;}
    #DivBankRecord .mar-btm{padding: 0;}
    .bnk-cvr .col-md-12.a1{padding: 0;}
    .tg-contentbox .ban3 {width: 44%;}
#divFuture .col-sm-6.col-md-6, #divNext .col-sm-6.col-md-6 {margin-bottom: 2px;}
.main-product-cover{margin-top: 0px;}
}

/** market-trendz **/
.gb-chartbx{width: 100%;float: left;}
.gb-chartbx h2 {margin: 0;padding: 10px;text-align: center;background: #00bbb4;color: #fff;border-radius: 5px;margin-top: 15px;margin-bottom: 5px;    font-size: 22px;}
.gb-chartbx  img{width:100%;}
.main-cover{ margin-bottom: 40px;}
@media screen and (max-width:425px){.gb-chartbx h2{font-size: 12px;}.chart .col-sm-12{padding: 0;}}




/** update **/
.pop-up-cover{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index:9999;background: #000000b8;}
.pop-up-cover .pop{    position: absolute;
    top: 39%;
    left: 5%;
    right: 5%;
    background: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    border: 2px solid #00bbb4;}
.pop-text{position: relative;}
.pop-text a{position: absolute;right:10px;color:#ffd183;}
.pop-text h4{font-size: 26px;font-weight: bold;color:#00bbb4;padding-right: 41px;}
.pop-text p{margin: 0;font-weight: bold;font-size: 18px;color:#fff;}
@media screen and (max-width:425px){.update-date-cover h2,.update-date-cover h2 p{font-size: 14px;}.pop-text a {position: absolute;right: -33px;top: -144px;}.pop-up-cover .pop{padding: 10px 10px;}.pop-text h4{font-size: 14px;padding:0px;}.pop-text p{font-size: 13px;}.pop-logo img {width: 100%;}}


.date-picker input[type="text"]{border: 1px solid #00bbb4;height: 33px;border-radius: 2px;color: #000;font-size: 12px;width: 145px;padding-left: 7px;margin-bottom: 15px;}
.date-picker input[type="button"]{cursor: pointer;padding: 6px 16px;background: #00bbb4;border-radius: 3px;color: #fff;padding: 4px 16px;font-size: 16px;border: 0;}
.up-cover {    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    float: left;
    border: 1px solid #dadada;}
.update-date-cover h2 {font-size: 22px;text-align: center;margin: 0;padding: 10px 0px;border-radius: 30px;background: #ffd686;color: #000;width: 100%;float: left;}
.update-date-cover h2 p {display: inline-block;margin-left: 14px;font-size: 16px;margin-bottom: 0;color: #fff;}
.update-title h4 {MARGIN: 0;margin: 10px 0px;width: 100%;float: left;color: #00bbb4;font-size: 24px;font-weight: bold;}
.update-title p {width: 100%;float: left;font-size: 14px;letter-spacing: 0;color: #000;font-weight: bold;}
.update-date-cover h2 {font-size: 22px;text-align: center;margin: 0;padding: 10px 0px;border-radius: 30px;background:#00bbb4;color: #fff;width: 100%;float: left;}
#divNews h1{text-align:center;width:100%;float:left;}
.date-picker{text-align: right;}
.img-thumbnail{width:100%;}
#divNews h1 {text-align: center;color: #000;font-size: 28px;font-weight: bold;}
#ui-datepicker-div{z-index:9999999 !important;}
.main-cover{width:100%;float:left;}
@media screen and (max-width:425px){.update-date-cover h2,.update-date-cover h2 p{font-size:11px;}.update-date-cover h2{padding: 2px 0px;}.update-title h4{margin: 5px 0px;font-size: 12px;}.update-title p{font-size: 11px;}.date-picker input[type="text"]{width: 100%;height: 28px;margin-bottom:5px;}.tg-contentbox .ban1,.tg-contentbox .ban3{font-size: 8px;}.b_bott{font-size: 6px;}.ban1{padding-left: 3px;}.tg-contentbox{min-height: auto;}.date-picker input[type="button"]{display: block;margin: 0 auto;margin-bottom: 10px;}}


/** contact **/
.cnt-detail-cover {    padding: 10px;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    float: left;
    padding-bottom: 0;
    background: #fff;
    border: 1px solid #b5b5b5;}
.cnt-detail-cover p {padding: 8px 5px;border-radius: 4px;background: #e4f7f6;}
.bank-cover p {line-height: 27px;margin: 0px;display: block;float: left;font-size: 16px;width: 100%;margin-bottom: 10px;color: #fff;}
.cnt-detail-cover p i {font-size: 24px;margin-bottom: 10px;height: 42px;width: 42px;text-align: center;line-height: 42px;color: #fff;border-radius: 30px;background: #fff;color: #c79723;display: inline-block;}
.login-btn-cvr:hover{color:#fff;text-decoration:none;}
.cnt-detail-cover p strong {display: block;margin-bottom: 10px;font-size: 20px;color: #00bbb4;}
.cnt-detail-cover p span {    color: #1d1d1d;
    font-size: 14px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 20px;}
.feedback-cover1 {    padding: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #b5b5b5;}
.feedback-cover {padding: 10px;border-radius: 4px;background: #e4f7f6;}
.cnt-title {text-align: center;background: #f89d13;border-radius: 4px;}
.cnt-title h2 {margin: 0;padding: 9px 0px; color: #fff;border-radius: 4px;background: #00bbb4;font-size: 19px;}
#contact-form .form-group {margin-top: 6px;}
.form-control {border:1px solid #cecece;letter-spacing: 0;}
.for-img-look label {background: #0000;margin-bottom: 0px;color:#00bbb4;font-size: 14px;font-weight: bold;}
.thm-btn.bgclr-1{padding: 7px 24px;letter-spacing: 0;background: #00bbb4;border: 0;border-radius: 3px;color: #fff;border: 1px solid #d6d6d6;cursor: pointer;transition:all 0.4s linear;}
#msgForSubmit{color: #155724 !important;}
.thm-btn.bgclr-1:hover{background: #fff;color:#000}
/** START ADD BANNER **/ 
.add-banner {background: #000000a1;position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 999999;text-align: center;}
.cross {position: absolute; right: 26%;top: 3%;}
.add-banner img {width: 45%;margin-top: 3%;}
.add-banner .cross span {color: #000;height: 40px;width: 40px;background: #fff;display: block;font-size: 29px;line-height: 36px;border-radius: 50%;text-align: center;opacity: 0.7;}
.form-group input{width:100%;}
@media screen and (max-width: 425px){legend,.scheduler-border label{font-size: 14px;}.form-group input{width:100%;}
.form-group input {
    width: 100%;
    font-size: 12px;
}.add-banner img {width: 82%;}.cross {position: absolute;right: 3%;top: 0%;}.add-banner .cross span {color: #000;height: 30px;width: 30px;background: #fff;display: block;font-size: 21px;line-height: 23px;border-radius: 50%;text-align: center;}}
/** END - ADD BANNER **/
#contact-form .form-group{width:100%;}
#msgForSubmit {
    color: #155724 !important;
    text-align: center;
}
@media screen and (max-width:991px){
    .cnt-title h2,.feedback-cover,.feedback-cover1,#contact-form .form-group{width:100%;float:left;}
    .cnt-detail-cover{margin-bottom:10px;}
    .cnt-title h2{font-size: 16px;}
}
.contact-cover .col-md-4,.contact-cover .col-md-8{display:inline-block;float:left;}
fieldset {
    width: 100%;
    float: left;
    background: #fff;
    padding: 10px;
    margin-bottom: 33px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}
legend {
    width: auto;
    padding: 0px 22px;
    background: #00bbb4;
    color: #fff;
    border-radius: 24px;
}
.scheduler-border label{font-weight:bold;}
.scheduler-border .form-group{margin-bottom: 10px;}
.kycbtn input{background: #00bbb4;border: 0px;color: #fff;padding: 6px 20px;border-radius: 5px; border: 1px solid #cac8c8;cursor: pointer;transition:all 0.4s linear;}
.kycbtn input:hover{background: #fff;color:#00bbb4;}
.scheduler-border .col-md-6.col-sm-6.col-xs-12{display:inline-block;float:left;}
.pop .col-md-3,.pop .col-md-9{display:inline-block;}
.pop-logo img{width:100%;}
.pop .col-md-3, .pop .col-md-9 {
    display: inline-block;
    float: left;
}
.pop-text p{color:#000;}
pop-text i{color: #00bbb4;}
.pop-text a {
    position: absolute;
    right: -16px;
    top: -39px;
}
.pop-text a {
    position: absolute;
    right: -16px;
    top: -22px;
    color: #00bbb4;
}
.buybutton a,.buybutton a input{cursor: pointer;}
.bank-logo ul {padding:0px;}
.bank-logo ul li{margin-bottom:20px}

@media screen and (min-width:1500px){footer:after{height: 139px;}}