/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* Define CSS variables */
:root {
  --header-height: 3rem;
  --nav-width: 270px; /* Increased width for the sidebar */
  --first-color: #00bbb4;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1.6rem; /* Increased font size */
  --z-fixed: 100;
}

/* Global styles */
*, ::before, ::after {
  box-sizing: border-box;
}
.nav_link i, span{
  font-size: 20px !important;
}


body.body_it {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a {
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
}
.nav_link i, span{
color: #F7F6FB;
}




/* Sidebar styles */
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1.7rem;
  padding: .8rem 0 .8rem 1.2rem;
}

.nav_logo {
  margin-bottom: 4rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav_link:hover {
  color: inherit; /* Change to 'inherit' or any other desired color */
}
.nav_icon {
  font-size: 1.25rem;
}

/* Responsive styles */
.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active.nav_link {
  background-color: #F7F6FB;
  
  border-radius: 10px;
}
.active i{
  color: black !important;
}

.active span{
  color: black !important;
}



/* Media queries */
@media screen and (min-width: 768px) {
  body.body_it {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }



  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
} 
